<section class="comments">
  <div class="add-comment">
    <form *ngIf="isAuthenticated" #f="ngForm" (ngSubmit)="onAddComment(f)">
      <input
        type="text"
        placeholder="comment..."
        required
        name="content"
        ngModel
      />
      <button [disabled]="!f.valid" class="btn btn-light">submit</button>
    </form>
    <div *ngIf="!isAuthenticated" class="alert alert-danger" role="alert">
      <h6 class="alert-heading">signin to add your comment</h6>
      <a routerLink="/auth/signin">signin now</a>
    </div>
  </div>
  <div *ngIf="comments!.length > 0" class="comments-list">
    <h4>users reviews</h4>
    <div *ngFor="let comment of comments!.reverse()" class="comment-single">
      <div>
        <img [src]="comment.creator.image" alt="" />
        <h6>{{ comment.creator.name }}</h6>
      </div>
      <p>{{ comment.content }}</p>
    </div>
  </div>
  <div class="no-comments" *ngIf="comments!.length == 0">
    <h4>no reviews yet</h4>
  </div>
</section>
