/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #5865f2;
}
* {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}
input {
  text-transform: lowercase;
}
input.ng-touched.ng-valid {
  border: 1.5px solid #080 !important;
}
input.ng-touched.ng-invalid {
  border: 1.5px solid #f00 !important;
}
a {
  text-decoration: none !important;
}
