.row > div {
  margin-bottom: 25px;
}
.form-container {
  margin-top: 50px;
}
label {
  margin-bottom: 10px;
  font-weight: bold;
}
button {
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 20px;
  display: inline-block;
}
